.files-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  padding: 25px;

  @media(max-width: 768px) {
    padding: 10px;
  }

  .file-icon {
    .material-icons {
      font-size: 70px;
    }
  }

  &.view-module {
    .file {
      text-align: center;
      min-width: 150px;
      max-width: 250px;
      margin-bottom: 20px;
    }
  }

  &.view-list {
    .file {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid #f5f5f5;

      .file-icon {
        margin-right: 20px;
      }
    }
  }
}
