<ng-container *ngIf="viewMode$ | async as viewMode">
  <div class="container-fluid"
       *ngIf="folder$ | async as folder">

    <div class="files-list"
         [class.view-module]="viewMode === viewModeType.module"
         [class.view-list]="viewMode === viewModeType.list">

      <ng-container *ngFor="let file of folder?.files">
        <ng-container [ngTemplateOutlet]="fileTmpl" [ngTemplateOutletContext]="{ $implicit: file }"></ng-container>
      </ng-container>

      <ng-container *ngIf="folder?.sub">
        <ng-container [ngTemplateOutlet]="fileTmpl" [ngTemplateOutletContext]="{ $implicit: folder.sub }"></ng-container>
      </ng-container>

    </div>

  </div>
</ng-container>

<ng-template #fileTmpl let-file>
  <a class="file" href="javascript:void(0)" (click)="setCurrentFolder(file)">
    <div class="file-icon">
      <i class="material-icons">
        <ng-container *ngIf="!file.isFile">folder</ng-container>
        <ng-container *ngIf="file.isFile">insert_drive_file</ng-container>
      </i>
    </div>
    {{ file.name }}
  </a>
</ng-template>
