<div class="files-list-container" *ngIf="files$ | async as files">
  <ng-container [ngTemplateOutlet]="filesListTmpl"
                [ngTemplateOutletContext]="{ $implicit: files }">
  </ng-container>
</div>

<ng-template #filesListTmpl let-files let-sublist="sublist">

  <ul class="files-list" [class.files-sublist]="sublist">
    <ng-container *ngFor="let file of files">
      <li>

        <ng-container [ngTemplateOutlet]="fileTmpl"
                      [ngTemplateOutletContext]="{ $implicit: file }">
        </ng-container>

        <ng-container *ngIf="file?.sub">
          <ul class="files-list files-sublist" *ngIf="isOpen(file?.name)">
            <ng-container [ngTemplateOutlet]="fileTmpl"
                          [ngTemplateOutletContext]="{ $implicit: file.sub }">
            </ng-container>
          </ul>
        </ng-container>

      </li>

    </ng-container>
  </ul>

</ng-template>

<ng-template #fileTmpl let-file>

  <a href="javascript:void(0)"
     (click)="setCurrentFolder(file)"
     class="d-flex justify-content-between align-items-center">
    <span class="d-flex align-items-center">
      <i class="material-icons mr-2">
        <ng-container *ngIf="!file.isFile">folder</ng-container>
        <ng-container *ngIf="file.isFile">insert_drive_file</ng-container>
      </i>
    {{ file.name }}
    </span>
  </a>

  <ng-container *ngIf="file?.files?.length && isOpen(file?.name)">
    <ng-container [ngTemplateOutlet]="filesListTmpl"
                  [ngTemplateOutletContext]="{ $implicit: file.files, sublist: true }">
    </ng-container>
  </ng-container>

</ng-template>
