.files-list-container {
  background: #f5f5f5;
  padding: 15px;
  height: 100%;
}

.files-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid darken(#f5f5f5, 15%);
    a {
      display: block;
      padding: 8px;
      text-decoration: none;
    }
  }

  &.files-sublist {
    padding-left: 15px;

    li {
      &:last-of-type {
        border: none;
      }
    }
  }
}
