<lib-file-manager>
  <lib-file-manager-header></lib-file-manager-header>
<!--  <lib-file-manager-breadcrumbs></lib-file-manager-breadcrumbs>-->
  <div class="ml-0 mr-0 row file-manager-body">
    <div class="col-md-3 pr-0 pl-0">
      <lib-file-manager-navigation></lib-file-manager-navigation>
    </div>
    <div class="col-md-9 pl-0 pr-0">
      <lib-file-manager-content></lib-file-manager-content>
    </div>
  </div>
</lib-file-manager>
