<nav class="navbar navbar-expand navbar-light bg-light">

  <div class="collapse navbar-collapse" *ngIf="viewMode$ | async as viewMode">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           [class.active]="viewMode === viewModeType.module"
           href="javascript:void(0)"
           (click)="changeMode(viewModeType.module)">
          <i class="material-icons">view_module</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [class.active]="viewMode === viewModeType.list"
           href="javascript:void(0)"
           (click)="changeMode(viewModeType.list)">
          <i class="material-icons">view_list</i>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"
             (input)="search($event.target.value)"
             type="search"
             placeholder="Search"
             aria-label="Search">
    </form>
  </div>
</nav>
