/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  
  *:after, &:before {
    box-sizing: border-box;
  }
}
